/* VAULTLAB TOTAL RESET */
* {
  box-sizing: border-box;
}

body, html {
  background-color: #000000 !important; /* Erzwingt Schwarz */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white; /* Damit man Text sieht, falls du welchen schreibst */
}